.storybook-tables-table tbody,
.storybook-tables-table td,
.storybook-tables-table tfoot,
.storybook-tables-table th,
.storybook-tables-table thead,
.storybook-tables-table tr {
    border-color: inherit;
    border-style: solid;
    border-width: 0;
}

/* Simple */
.storybook-tables-table {
    @apply w-full;
    @apply text-left;
    @apply rounded;
    @apply shadow;
    @apply overflow-hidden;
}

.storybook-tables-table th,
.storybook-tables-table td {
    @apply px-4 py-3;
}

.storybook-tables-table thead tr th {
    @apply bg-gray-100;
    @apply uppercase;
    @apply font-normal;
    @apply tracking-wider;
    @apply text-xs;
}

.storybook-tables-table tbody tr {
    @apply border-t border-b;
}

/* Simple Striped */
.storybook-tables-table thead {
    @apply border-b;
}

.storybook-tables-table-striped tbody tr {
    @apply border-none;
}

.storybook-tables-table-striped tbody tr:nth-child(even) {
    @apply bg-gray-100;
}

.th-sort:hover {
    @apply cursor-pointer;
}

.th-sort-asc .th-sort-icons svg:first-child {
    @apply hidden;
}

.th-sort-desc .th-sort-icons svg:last-child {
    @apply hidden;
}

.th-sort-body {
    @apply flex items-center;
    @apply relative;
}

.th-sort-icons {
    @apply w-2;
    @apply ml-2;
}
