.storybook-layouts-container-default {
    @apply px-4;
    @apply mx-auto;
    @apply pt-12;
}

@media (min-width: 640px) {
    .storybook-layouts-container-default {
        @apply pt-0;
        max-width: 640px;
    }
}

@media (min-width: 468px) {
    .storybook-layouts-container-default {
        max-width: 468px;
    }
}

@media (min-width: 1024px) {
    .storybook-layouts-container-default {
        max-width: 1024px;
    }
}

@media (min-width: 1280px) {
    .storybook-layouts-container-default {
        max-width: 1280px;
    }
}

@media (min-width: 640px) {
    .storybook-layouts-container-sidebar {
        margin-left: 300px;
    }
}
