.storybook-navigation-container {
    @apply bg-gray-700;
    @apply fixed;
    @apply top-0;
    width: calc(100% - 300px);
}

.storybook-navigation-content {
    @apply flex items-center;
    @apply py-4;
}

.storybook-navigations-brand-image {
    @apply mr-4;
}

.storybook-navigations-nav {
    @apply flex-1;
}

.storybook-navigations-nav-link {
    @apply text-white;
    @apply py-2 px-3;
    @apply m-2;
    @apply rounded-lg;
    @apply cursor-pointer;
}

.storybook-navigations-nav-link:hover {
    @apply bg-gray-700
}

.storybook-navigations-nav-link-active {
    @apply bg-gray-900;
}

.storybook-navigations-nav-link-active:hover {
    @apply bg-gray-900;
}

/* Sidebar */
.storybook-navigations-sidebar {
    width: 300px;
    @apply fixed;
    @apply h-full;
    @apply left-0 top-0;
    @apply bg-white;
    @apply pb-4 pt-12;
    @apply border-r border-gray-200;
    @apply overflow-y-auto;
    @apply flex flex-col flex-grow;
    @apply hidden;
    @apply z-50;
}

@media (min-width: 1280px) {
    .storybook-navigations-sidebar {
        @apply flex;
        @apply pt-4;
    }
    .navigations-sidebar-hamburger {
        @apply hidden;
    }
}

.storybook-navigations-sidebar-open {
    @apply flex;
}

.storybook-navigations-sidebar-close {
    @apply hidden;
}

.storybook-navigations-dropdown-icon {
    @apply ml-auto mr-0 !important;
}

.storybook-navigations-sidebar .storybook-navigations-brand {
    @apply flex items-center;
    @apply flex-shrink-0;
    @apply px-4;
    @apply mb-4;
}

.storybook-navigations-brand .storybook-buttons-button {
    @apply p-0;
}

.storybook-navigations-sidebar .storybook-navigations-nav-link {
    @apply flex items-center;
    @apply pl-2 pr-1 py-2;
    @apply text-sm font-medium;
    @apply rounded-md;
    @apply bg-white;
    @apply text-gray-600;
}

.storybook-navigations-sidebar .storybook-navigations-nav-link:hover {
    @apply text-gray-900;
    @apply bg-gray-100;
}

.storybook-navigations-sidebar .storybook-navigations-nav-link svg {
    @apply w-6;
    @apply text-gray-400;
    @apply mr-3;
}

/* Dropdown */
.storybook-navigations-dropdown .storybook-navigations-nav-link:hover {
    background: inherit;
}

.navigations-sidebar-hamburger {
    @apply fixed;
    @apply p-0;
    top: 15px;
    left: 15px;
}

/* Topbar */

.storybook-navigations-topbar {

}
