/* Overlay */

.storybook-modals-overlay {
    display: none;
    background: rgba(0, 0, 0, .33);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.storybook-modals-visible {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Body */

.storybook-modals-body {
    max-width: 640px;
    border-radius: .5rem;
    background: white;
    overflow: hidden;
    box-shadow: 0 0 5px 0 #6B7280;
    margin: 1rem;
    z-index: 100;
}

.storybook-models-onblur {
    width: 100%;
    height: 100%;
    position: absolute;
}

/* Content */

.storybook-modals-content {
    padding: 1.5rem;
    /*position: absolute;*/
}

.storybook-modals-body .storybook-texts-primary {
    color: #6B7280;
}

/* Footer */

.storybook-modals-footer {
    display: flex;
    justify-content: flex-end;
    background: #F3F4F6;
    padding: 1rem 1.5rem;
}

.storybook-modals-footer .storybook-button {
    margin-left: .5rem;
}

/* Title */

.storybook-modals-title {
    margin-bottom: .5rem;
}